<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='manni.css')}}">
    <script type="text/javascript" 
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

    <script src="{{url_for('static', filename='index.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="display">
        <div id="header">
            <h2>Snake Eating Itself</h2>
            <br>
            <br>
            <input placeholder="enter a command, e.g. 'help'" id="mainInput" type="text">
            <div class="hidden loader">
                <image src="{{url_for('static', filename='snake.svg')}}"></image>
            </div>
        </div>
        <div id="content">
            {{ content|safe }}
        </div>
    </div>
</body>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        blockMath: [['$$','$$']],
        processEscapes: true
      }
    });
</script>
</html>