
body {
    background-color: #ffffff;
    --fs: 18px;
    font-size: var(--fs);
}

a {
    text-decoration: none;
    color: #3277bd;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

h3 {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

hr {
    border: none;
    height: 1px;
    background-color: #0a100d;
}

.textblock {
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #0a100d;
  font-style: normal;
  display: inline;
}

.textblock ul {
    margin: 0;
    padding-bottom: 5px;
    
    list-style-type: disc;
    list-style-position: outside;
}

.textblock li {
  line-height: 26px;
  margin: 0;
}

.textblockLink {
  float: right;
}